.footer {
  //   background-color: #6d594d;
  padding-top: 70px;
  position: relative;
  &::before {
    content: " ";
    display: block;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    background-image: url("../../img/white-cloud-bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.2;
    z-index: -1;
  }
  &::after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #6d594d;
    position: absolute;
    z-index: -2;
  }

  .about-us {
    margin-bottom: 30px;

    .logo {
      margin-bottom: 30px;
      max-width: 250px;
      a {
        display: inline-block;
        margin-bottom: 10px;
        img {
          max-width: 100%;
        }
      }
    }

    p {
      color: #d8d8d8;
      margin-bottom: 10px;
    }
    .contact {
      font-size: 18px;
      font-weight: 600;
      .fa-envelope {
        margin-left: 20px;
      }
    }
    .social__redirect {
      position: relative;
      margin: 10px 0;
      text-align: left;
      a {
        font-size: 20px;
        color: #fff;
        display: inline-block;
        margin-right: 32px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }

  .categories {
    margin-bottom: 30px;
    h6 {
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        line-height: 36px;
        list-style: none;

        a {
          text-decoration: none;
          color: #b7b7b7;
          font-size: 15px;
        }
      }
    }
  }
  .footer__copyright__text {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
    p {
      color: #b7b7b7;
      margin-bottom: 0;
    }
  }
}
